
@{
    ViewBag.Title = "Index";
}

<h2>Impostazioni</h2>

<div class="jumbotron" style="background-color: white">
    <table>
        <tr>
            <td width="200px" align="center">
                <img src="~/Content/tipi_giro.png" class="submit" onclick="location.href ='@Url.Action("Index", "tipi_giro")'" style="overflow: hidden; position: relative; width:150px; height:150px;" />
                <br>Tipi Giro
            </td>
            <td width="200px" align="center">
                <img src="~/Content/tipi_rilevazioni.png" class="submit" onclick="location.href ='@Url.Action("Index", "tipi_rilevazioni")'" style="overflow: hidden; position: relative; width:150px; height:150px;" />
                <br>Tipi Rilevazioni
            </td>
            <td width="200px" align="center">
                <img src="~/Content/tipi_scheda_ospite.png" class="submit" onclick="location.href ='@Url.Action("Index", "tipi_scheda_ospite")'" style="overflow: hidden; position: relative; width:150px; height:150px;" />
                <br>Tipi Scheda Ospite
            </td>
            <td width="200px" align="center">
                <img src="~/Content/fasce_terapia.png" class="submit" onclick="location.href ='@Url.Action("Index", "fasce_terapia")'" style="overflow: hidden; position: relative; width:150px; height:150px;" />
                <br>Fasce terapia
            </td>
        </tr>
    </table>
</div>